.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.color-blue {
    color: #5898f1
}

.color-green {
    color: #00b27f
}

.color-yellow {
    color: #FEC04C
}

.color-red {
    color: #FA5744
}

.color-gray {
    color: #a1a1a1
}

.background-blue {
    background-color: #5898f1
}

.background-green {
    background-color: #00b27f
}

.background-yellow {
    background-color: #FEC04C
}

.background-red {
    background-color: #FA5744
}

.mar-0 {
    margin: 0
}

.mar-t-0 {
    margin-top: 0
}

.mar-r-0 {
    margin-right: 0
}

.mar-b-0 {
    margin-bottom: 0
}

.mar-l-0 {
    margin-left: 0
}

.mar-tb-0 {
    margin-top: 0;
    margin-bottom: 0
}

.mar-1 {
    margin: .33rem
}

.mar-t-1 {
    margin-top: .33rem
}

.mar-r-1 {
    margin-right: .33rem
}

.mar-b-1 {
    margin-bottom: .33rem
}

.mar-l-1 {
    margin-left: .33rem
}

.mar-tb-1 {
    margin-top: .33rem;
    margin-bottom: .33rem
}

.mar-2 {
    margin: .67rem
}

.mar-t-2 {
    margin-top: .67rem
}

.mar-r-2 {
    margin-right: .67rem
}

.mar-b-2 {
    margin-bottom: .67rem
}

.mar-l-2 {
    margin-left: .67rem
}

.mar-tb-2 {
    margin-top: .67rem;
    margin-bottom: .67rem
}

.mar-3 {
    margin: 1rem
}

.mar-t-3 {
    margin-top: 1rem
}

.mar-r-3 {
    margin-right: 1rem
}

.mar-b-3 {
    margin-bottom: 1rem
}

.mar-l-3 {
    margin-left: 1rem
}

.mar-tb-3 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mar-4 {
    margin: 1.33rem
}

.mar-t-4 {
    margin-top: 1.33rem
}

.mar-r-4 {
    margin-right: 1.33rem
}

.mar-b-4 {
    margin-bottom: 1.33rem
}

.mar-l-4 {
    margin-left: 1.33rem
}

.mar-tb-4 {
    margin-top: 1.33rem;
    margin-bottom: 1.33rem
}

.mar-5 {
    margin: 1.78rem
}

.mar-t-5 {
    margin-top: 1.78rem
}

.mar-r-5 {
    margin-right: 1.78rem
}

.mar-b-5 {
    margin-bottom: 1.78rem
}

.mar-l-5 {
    margin-left: 1.78rem
}

.mar-tb-5 {
    margin-top: 1.78rem;
    margin-bottom: 1.78rem
}

.mar-6 {
    margin: 2rem
}

.mar-t-6 {
    margin-top: 2rem
}

.mar-r-6 {
    margin-right: 2rem
}

.mar-b-6 {
    margin-bottom: 2rem
}

.mar-l-6 {
    margin-left: 2rem
}

.mar-tb-6 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.pad-0 {
    padding: 0
}

.pad-t-0 {
    padding-top: 0
}

.pad-r-0 {
    padding-right: 0
}

.pad-b-0 {
    padding-bottom: 0
}

.pad-l-0 {
    padding-left: 0
}

.pad-tb-0 {
    padding-top: 0;
    padding-bottom: 0
}

.pad-1 {
    padding: .33rem
}

.pad-t-1 {
    padding-top: .33rem
}

.pad-r-1 {
    padding-right: .33rem
}

.pad-b-1 {
    padding-bottom: .33rem
}

.pad-l-1 {
    padding-left: .33rem
}

.pad-tb-1 {
    padding-top: .33rem;
    padding-bottom: .33rem
}

.pad-2 {
    padding: .67rem
}

.pad-t-2 {
    padding-top: .67rem
}

.pad-r-2 {
    padding-right: .67rem
}

.pad-b-2 {
    padding-bottom: .67rem
}

.pad-l-2 {
    padding-left: .67rem
}

.pad-tb-2 {
    padding-top: .67rem;
    padding-bottom: .67rem
}

.pad-3 {
    padding: 1rem
}

.pad-t-3 {
    padding-top: 1rem
}

.pad-r-3 {
    padding-right: 1rem
}

.pad-b-3 {
    padding-bottom: 1rem
}

.pad-l-3 {
    padding-left: 1rem
}

.pad-tb-3 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pad-4 {
    padding: 1.33rem
}

.pad-t-4 {
    padding-top: 1.33rem
}

.pad-r-4 {
    padding-right: 1.33rem
}

.pad-b-4 {
    padding-bottom: 1.33rem
}

.pad-l-4 {
    padding-left: 1.33rem
}

.pad-tb-4 {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem
}

.pad-5 {
    padding: 1.78rem
}

.pad-t-5 {
    padding-top: 1.78rem
}

.pad-r-5 {
    padding-right: 1.78rem
}

.pad-b-5 {
    padding-bottom: 1.78rem
}

.pad-l-5 {
    padding-left: 1.78rem
}

.pad-tb-5 {
    padding-top: 1.78rem;
    padding-bottom: 1.78rem
}

.pad-6 {
    padding: 2rem
}

.pad-t-6 {
    padding-top: 2rem
}

.pad-r-6 {
    padding-right: 2rem
}

.pad-b-6 {
    padding-bottom: 2rem
}

.pad-l-6 {
    padding-left: 2rem
}

.pad-tb-6 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.flex-center {
    display: flex;
    justify-content: center
}

.sans {
    font-family: "Lato", Helvetica, sans-serif
}

.serif {
    font-family: Georgia, serif
}

.small {
    font-size: 1rem
}

* , * :before, * :after {
    box-sizing: border-box
}

html {
    text-rendering: optimizeLegibility;
    font-size: 17px
}

@media screen and (max-width: 544px) {
    html {
        font-size: 16px
    }
}

body {
    margin: auto;
    padding: 1rem;
    max-width: 37rem;
    background-color: #fff;
    color: #666;
    font-size-adjust: 100%
}

a {
    border-bottom: 1px solid #E5E5EA;
    color: #a1a1a1;
    text-decoration: none;
    transition: 0.25s
}

a:hover {
    color: #00b27f
}

hr {
    margin: 4rem auto;
    border: 2px solid #E5E5EA;
    max-width: 8rem
}

blockquote {
    margin: 1.78rem 0 1.78rem auto;
    padding-left: 1.25rem;
    border-left: 3px solid #00b27f;
    color: #a1a1a1
}

img {
    margin: 3rem auto;
    border-radius: 4px;
    max-width: 100%;
    display: block
}

ol li, ul li {
    font-size: 1.15rem;
    font-family: "Lato", Helvetica, sans-serif;
    line-height: 1.5
}

ol li > p, ul li > p {
    display: inline-block;
    font-family: "Lato", Helvetica, sans-serif
}

ol li > p .reversefootnote, ul li > p .reversefootnote {
    border-bottom: 0
}

sup a {
    border-bottom: 0;
    color: #00b27f;
    font-family: "Lato", Helvetica, sans-serif
}

time {
    display: block;
    color: #a1a1a1;
    font-family: "Lato", Helvetica, sans-serif
}

table {
    margin: 2rem 0;
    border: 2px solid #E5E5EA;
    border-spacing: 0;
    border-collapse: collapse;
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    font-family: "Lato", Helvetica, sans-serif
}

table tbody tr:nth-child(odd) {
    background-color: #fff
}

table tbody tr:nth-child(even) {
    background-color: #f9f9fe
}

table th, table td {
    padding: 0.6rem 1rem 0.6rem 1rem;
    color: #666
}

table th {
    font-weight: 600;
    background: #fff;
    border-left: 2px solid #E5E5EA
}

table td {
    border-top: 2px solid #E5E5EA;
    border-left: 2px solid #E5E5EA;
    text-align: left
}

.color-line {
    display: flex
}

.color-line > div {
    flex: 25;
    height: 4px
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", Helvetica, sans-serif
}

h2, h3, h4 {
    font-weight: 700
}

h1 {
    margin: 2rem 0;
    font-size: 2.35rem;
    font-weight: 900
}

h2 {
    margin: 1.33rem 0;
    font-size: 1.75rem
}

h3 {
    margin: 1rem 0;
    font-size: 1.5rem
}

h4 {
    margin: .33rem 0;
    font-size: 1.25rem;
    color: #a1a1a1
}

h4 a {
    border-bottom: 0;
    color: #a1a1a1
}

h4 a:hover {
    color: #00b27f
}

h5 {
    margin: .33rem 0;
    font-size: 1.15rem
}

h6 {
    margin: .33rem 0;
    font-size: 1rem
}

p {
    margin: 0 0 1.33rem;
    font-family: Georgia, serif;
    font-size: 1.15rem;
    line-height: 1.5
}

@media screen and (max-width: 544px) {
    p {
        line-height: 1.45
    }
}

b, strong {
    font-weight: 700
}

.pager {
    margin: 3rem 0;
    padding: 0
}

.pager li {
    display: inline-flex
}

.pager a {
    border: 1px solid #E5E5EA;
    border-left: none;
    padding: 4px 15px;
    color: #666;
    font-weight: 600;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 1s
}

.pager a:hover {
    background-color: #E5E5EA
}

.pager a.disabled {
    background-color: #fff;
    color: #b0b0b0;
    cursor: not-allowed
}

.pager a.current {
    border-color: #00b27f;
    background-color: #00b27f;
    color: #fff
}

.pager a.prev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #E5E5EA
}

.pager a.next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

code {
    background-color: #eee;
    color: #37C47B;
    font-family: "Source Code Pro", monospace;
    font-size: 0.97rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px
}

p code, li code {
    border: 1px solid #E5E5EA;
    border-radius: 2px;
    padding: 0 2px
}

.highlight {
    margin: 1rem 0;
    border: 1px solid #E5E5EA;
    border-radius: 4px;
    background: #eee
}

pre {
    margin: 0;
    padding: 12px
}

pre pre {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0
}

pre .lineno {
    padding-right: 1.5rem
}

.highlight, .highlight pre, .highlight code {
    color: #333
}

.highlight .n {
    color: #1b9af7
}

.highlight .k {
    color: #37C47B
}

.highlight .o {
    color: #ed4694
}

.highlight .c {
    color: #888
}

.highlight .err {
    color: #ff4351
}

.highlight .cm {
    color: #888
}

.highlight .cp {
    color: #888
}

.highlight .c1 {
    color: #888
}

.highlight .cs {
    color: #888
}

.highlight .gr {
    color: #ff4351
}

.highlight .gh {
    color: #888
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #888
}

.highlight .gu {
    color: #888
}

.highlight .gt {
    color: #ff4351
}

.highlight .kc {
    color: #1b9af7
}

.highlight .kd {
    color: #1b9af7
}

.highlight .kp {
    color: #1b9af7
}

.highlight .kr {
    color: #1b9af7
}

.highlight .kt {
    color: #1b9af7
}

.highlight .m {
    color: #ed4694
}

.highlight .s {
    color: #fc880f
}

.highlight .na {
    color: #37C47B
}

.highlight .nb {
    color: #1b9af7
}

.highlight .nc {
    background-color: rgba(123, 114, 233, 0.05);
    border-radius: 2px;
    color: #7b72e9
}

.highlight .no {
    color: #37C47B
}

.highlight .ni {
    color: #7b72e9
}

.highlight .ne {
    color: #ed4694
}

.highlight .nf {
    background-color: rgba(123, 114, 233, 0.05);
    border-radius: 2px;
    color: #7b72e9
}

.highlight .nd {
    color: #ed4694
}

.highlight .nn {
    color: #ed4694
}

.highlight .nt {
    background-color: rgba(27, 154, 247, 0.05);
    border-radius: 2px;
    color: #1b9af7
}

.highlight .nv {
    color: #ed4694
}

.highlight .nx {
    background-color: rgba(237, 70, 148, 0.05);
    border-radius: 2px;
    color: #ed4694
}

.highlight .ow {
    color: #ed4694
}

.highlight .w {
    color: #888
}

.highlight .mf {
    color: #37C47B
}

.highlight .mh {
    color: #37C47B
}

.highlight .mi {
    color: #37C47B
}

.highlight .mo {
    color: #37C47B
}

.highlight .sb {
    color: #fc880f
}

.highlight .sc {
    color: #fc880f
}

.highlight .sd {
    color: #fc880f
}

.highlight .s2 {
    color: #fc880f
}

.highlight .se {
    color: #fc880f
}

.highlight .sh {
    color: #fc880f
}

.highlight .si {
    color: #fc880f
}

.highlight .sx {
    color: #fc880f
}

.highlight .sr {
    color: #fc880f
}

.highlight .s1 {
    color: #fc880f
}

.highlight .ss {
    color: #db49d8
}

.highlight .bp {
    color: #ed4694
}

.highlight .vc {
    color: #37C47B
}

.highlight .vg {
    color: #37C47B
}

.highlight .vi {
    color: #37C47B
}

.highlight .il {
    color: #37C47B
}

footer {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media screen and (max-width: 544px) {
    footer {
        align-items: stretch
    }
}

#mc_embed_signup form {
    border: 2px solid #E5E5EA;
    border-radius: 4px;
    padding: 3px;
    height: 45px;
    width: 345px;
    display: flex;
    align-items: stretch;
    transition: 1s
}

#mc_embed_signup form:hover {
    border-color: #a1a1a1
}

@media screen and (max-width: 544px) {
    #mc_embed_signup form {
        width: auto
    }
}

#mc_embed_signup .mc-field-group {
    display: inline-flex;
    flex: 7.5
}

#mc_embed_signup input, #mc_embed_signup button {
    border: 0;
    box-sizing: border-box;
    transition: 0.25s
}

#mc_embed_signup input {
    margin: 0;
    padding: 0 10px;
    flex: 1;
    appearance: none;
    font-size: 0.95rem;
    outline: 0
}

#mc_embed_signup button {
    border-radius: 4px;
    background-color: #00b27f;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: "Lato", Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: 0.25s;
    flex: 2.85
}

#mc_embed_signup button:hover {
    background-color: #00a878
}

#mc_embed_signup button:focus {
    background-color: #009e70
}

#mc_embed_signup button:active {
    background-color: #009369
}


